$brandPrimary:			#63B260;
$brandPrimaryDark:		darken( $brandPrimary, 10% );
$brandPrimaryLight:		lighten( $brandPrimary, 10% );

$brandSecondary:		#F96939;
$brandSecondaryDark:	darken( $brandSecondary, 10% );
$brandSecondaryLight:	lighten( $brandSecondary, 10% );

$error:                 #cc3300;
$warn:                  #FFCC00;
$confirm:               #339900;


$black:                 #222222;
$white:					#FFFFFF;
$select:                rgb(249, 240, 151, .8);

$black-bg:              #2D2D2D;
$gray-bg:               #F1F1F1;
$gray-text:             #898989;
$gray-subtitle:         #BFBFBF;
$gray-footer-text:      #A5A5A5;
$gray-transparant:      rgba(122, 122, 122, .28);
$hr-bg:                 rgba(204, 204, 204, .3);


//brands
$brand_fb:	            #4267B2;
$brand_msnger:	        #00B2FF;
$brand_msnger_dark:     #006AFF;
$brand_yt:          	#FF0000;
$brand_tw:	            #1DA1F2;
$brand_tw_hover:        #2E91DA;
$brand_pi:          	#E60023;
$brand_pi_hover:        #ad081b;
$brand_li:          	#0077b5;
$brand_sc:          	#FFFC00;
$brand_ig:              #E1306C;

// instagram gradient
$brand_ig_royal_blue:   #405DE6;
$brand_ig_blue:        	#5B51D8;
$brand_ig_purple:     	#833AB4;
$brand_ig_dark_pink:   	#C13584;
$brand_ig_purple_red:   #E1306C;
$brand_ig_red:        	#FD1D1D;
$brand_ig_dark_orange:  #F56040;
$brand_ig_orange:    	#F77737;
$brand_ig_yellow:      	#FCAF45;
$brand_ig_light_yellow:	#FFDC80;