html {
    box-sizing: border-box;

    // fix fonts cross browser
	-webkit-font-smoothing: antialiased; // safari same as chrome
	-moz-osx-font-smoothing: grayscale; // fix bold firefox mac
	text-transform: none; // mac firefox fix
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}